{
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "printWidth": 120,
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
